<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup" [completed]="true">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Claim Notification</ng-template>
      <p> In progress... </p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [completed]="false">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Claim Assessment</ng-template>
      <p> Not started </p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [completed]="false">
    <ng-template matStepLabel>Claim Fulfillment</ng-template>
    <ng-template matStepperIcon="done">
    	<mat-icon>done_all</mat-icon>
  	</ng-template>
    <p> Not started </p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Next</button>
    </div>
  </mat-step>
  <mat-step [completed]="false">
    <ng-template matStepLabel>Claim Closure</ng-template>
    <p> Not started </p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>