.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50px;
}

.example-full-width {
  width: 100%;
}

.example-card-header {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}
