<p>
  <mat-accordion multi="true"> 
  <!-- Personal details -->
  <mat-expansion-panel (opened)="false" [disabled]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal Details
      </mat-panel-title>
      <mat-panel-description>
        Check your current person details here
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="First name" [disabled]="true">{{user?.firstName}}
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last name" [disabled]="true">{{user?.lastName}}
    </mat-form-field> 
    <mat-form-field>
      <input matInput placeholder="Email" [disabled]="true">{{user?.email}}
    </mat-form-field>  
  </mat-expansion-panel>
  <!-- Policies -->
  <mat-expansion-panel (opened)="true" [disabled]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Policies
      </mat-panel-title>
      <mat-panel-description>
        Your current policies
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <mat-table #table [dataSource]="policiesDataSource">

	    <ng-container matColumnDef="policyId">
	      <mat-header-cell *matHeaderCellDef> Policy ID </mat-header-cell>
	      <mat-cell *matCellDef="let policy">{{policy.policyId}}</mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="fundValue">
	      <mat-header-cell *matHeaderCellDef> Fund Value </mat-header-cell>
	      <mat-cell *matCellDef="let policy">{{policy.fundValue}}</mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="policyTerm">
	      <mat-header-cell *matHeaderCellDef> Policy Term </mat-header-cell>
	      <mat-cell *matCellDef="let policy">{{policy.policyTerm}}</mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="assetId">
	      <mat-header-cell *matHeaderCellDef> Asset ID </mat-header-cell>
	      <mat-cell *matCellDef="let policy">{{policy.assetId}}</mat-cell>
	    </ng-container>

	    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
	</mat-table>
    
  </mat-expansion-panel>
  <!-- Claims -->
  <mat-expansion-panel (opened)="true" [disabled]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Claims
      </mat-panel-title>
      <mat-panel-description>
        <p>Currently you have {{haveActiveClaim ? '' : 'no'}} active claim.</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- If there are claims -->
    <mat-table #table [dataSource]="userClaimsDataSource">

	    <ng-container matColumnDef="id">
	      <mat-header-cell *matHeaderCellDef> Claim ID </mat-header-cell>
	      <mat-cell *matCellDef="let instance">{{instance.id}}</mat-cell>
	    </ng-container>

	    <ng-container matColumnDef="definitionId">
	      <mat-header-cell *matHeaderCellDef> Claim Type </mat-header-cell>
	      <mat-cell *matCellDef="let instance">{{instance.definitionId}}</mat-cell>
	    </ng-container>
	    
	    <ng-container matColumnDef="select">
	      <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
	      <mat-cell *matCellDef="let instance"><button mat-button color="primary" (click)="openViewClaimDialog(instance)"><mat-icon>view</mat-icon>View Claim</button></mat-cell>
	    </ng-container>

	    <mat-header-row *matHeaderRowDef="userInstanceDisplayCols"></mat-header-row>
	    <mat-row *matRowDef="let row; columns: userInstanceDisplayCols"></mat-row>
	</mat-table>
    <!-- If no claim -->
    <p *ngIf="!haveActiveClaim">Currently you have {{haveActiveClaim ? '' : 'no'}} active claim.</p>
    <button mat-button color="primary" (click)="openDialog(policies)"><mat-icon>add</mat-icon>New Claim</button>
  </mat-expansion-panel>
</mat-accordion>
</p>
